doctype html
html(lang="en")
    head
        title Hello World JS
        link(rel='shortcut icon', href='../src/favicon.png', type='image/png')
        link(rel='icon' href="../src/favicon.png" type="image/png")
        link(href='main.css', rel='stylesheet')
    body
        div.content
            h1.random We simplify
        script(async src='random.js')
