doctype html
html(lang="en")
    head
        title = HelloWorld
        link(href='main.css', rel='stylesheet')
    body
        div.content
            h1.random hello world
        script(async src='main.js')
